<label>
  QUESTÃO 1 (20 PONTOS):
</label>
<div>
  <p>a)
    <b> Implemente um serviço que envie para o componente table as seguintes informações:(4 pontos) </b>
  </p>
    <code>
          <pre>
            Kero Blaster;PlayStation;39,58
            Ironclad Tactics;PlayStation;58,61
            Shadow of the Beast;PlayStation;26,55
            Sonic and the Secret Rings;Wii;88,55
            Blur;Xbox;39,25
            Hasbro Family Game Night Fun Pack;Xbox;27,80
            Injustice 2;PlayStation;47,21
            Simple Wii Series Vol.2: The Minna de Basu Duri TaikaiJP;Wii;99,28
            Hatsune Miku: Project DIVA Colorful Sound and Future Tone;PlayStation;99,90
            Perfect Universe;PlayStation;79,86
            Combat Wings: The Great Battles of WWIIPAL;Wii;48,47
            Legendary;Xbox;47,55
          </pre>
        </code>
    <div>
      <p>
        Essas informações representam uma amostra de um dataset contendo as seguintes informações:
      </p>
      <ul>
        <li>Nome do Jogo</li>
        <li>Plataforma</li>
        <li>Nota player 1</li>
        <li>Nota player 2</li>

      </ul>
    </div>
    <p>b)
      <b> Crie uma tabela para armazenar as informações:(2 pontos) </b>
    </p>
  <p>c)
    <b> Popule a tabela utilizando as diretivas do Angular :(5 pontos) </b>
  </p>
  <p>d)
      <b> Popule outra tabela utilizando as diretivas do Angular contudo esta nova deve conter apenas jogos do Playstation :(5 pontos) </b>
    </p>
    <p>e)
        <b> Implemente uma funcionalidade de cadastro de novos jogos :(2 ponto Interface + 2 ponto Programação) </b>
      </p>
</div>
<!-- EDITE ESTE HTML COM SUA RESPOSTA -->

<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>