<label>
  QUESTÃO 3 (10 PONTOS):
</label>
<div>
  <p>
    A princial distinção entre os containers e as máquinas virtuais está presente em sua arquitetura onde os containers como
    o Docker introduz a abstração do sistema operacional.
  </p>
  <p>Veja na imagem abaixo a arquitetura desses sistemas. </p>
  <img src="assets/images/docker.png" alt="Docker Arquitetura">
  <p>Essa arquitetura permite uma maior escalabilidade, recuperação e segurança da aplicação. Sendo assim responda a seguinte
    questão relacionando Angular, NodeJs e bancos de dados não relacionais.
  </p>
  <p>
    <b>Porque a utilização de containers juntamente do NodeJS e Angular pode auxiliar a gestão do serviço? Esse tipo de arquitetura
      permite um desempenho melhor? Porque?</b>
  </p>
</div>
<!-- ENVIE O PARAMETRO RESP PARA O COMPONENTE APP-RESP-AREA COM SUA RESPOSTA -->
<app-resp-area></app-resp-area>
<router-outlet></router-outlet>