<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Questões da Prova</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/q1" routerLinkActive="active">Questão 1</a>
      <a mat-list-item routerLink="/q2" routerLinkActive="active">Questão 2</a>
      <a mat-list-item routerLink="/q3" routerLinkActive="active">Questão  3</a>
      <a mat-list-item routerLink="/info" routerLinkActive="active">Orientações</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Prova Cotemig</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
